
/**
 * Hide labels we don't want shown (but leave in HTML for screen readers).
 * Very high priority, hence IDs and others in selectors
 */
p.gcobf_birth_details label#gcobf_birthday_label.hidden,
p.gcobf_birth_details label#gcobf_birthmonth_label.hidden, 
p.gcobf_birth_details label#gcobf_birthyear_label.hidden,
p.gcobf_birth_details label#gcobf_birthhour_label.hidden,
p.gcobf_birth_details label#gcobf_birthminute_label.hidden {
	display: none;
}

/**
 * Sub-fields all same height
 */
.gcobf_birth_details select,
.gcobf_birth_details input {
	height: 1.75rem;
}

/**
 * Set day/hour/minute number sub-fields to min width
 */
.gcobf_birth_details #gcobf_birthday,
.gcobf_birth_details #gcobf_birthhour,
.gcobf_birth_details #gcobf_birthminute {
	width: 9ex;
}

/**
 * Set year number sub-fields to min width
 */
.gcobf_birth_details #gcobf_birthyear {
	width: 11ex;
}

/**
 * Set month sub-field to max width
 */
.gcobf_birth_details #gcobf_birthmonth {
	max-width: 20ex;
}
/**
 * Add space around dividers and make bit more obvious
 */
.gcobf_birth_details .gcobf_divider {
	margin-left: 0.5ex;
    margin-right: 0.5ex;
    font-weight: bold;
}

/**
 * Add space after labels where fields are on same line
 */
#gcobf_birthdate_field .gcobf_field_label,
#gcobf_birthtime_field .gcobf_field_label {
    margin-right: 0.5ex;
}

/**
 * Align the sub-field dividers, inputs and selects
 */
.gcobf_birth_details span {
    vertical-align: top;
}